{% extends "core/base.html" %} {% load static %}

<!-- Incluimos el contenido -->
{% block content %}
<div class="content">
    <div class="page_content_title">
        <h2 class="page_title">{% block page_title %}Dashboard{% endblock page_title %}</h2>
        <div class="page_subtitle">
            <span>
        {% block page_subtitle %}Pagina de Inicio..!{% endblock page_subtitle %}
            </span>
        </div>
        <div class="page_content">
            {% block page_content %} {% endblock page_content %}
        </div>
    </div>
</div>
{% endblock content %}
<!-- Carga de SCRITPS adiccionales -->
{% block scripts_load %}
<script src="{% static 'plugins/Select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/Select2/js/i18n/es.js' %}"></script>
<script src="{% static 'js/preforms.js' %}"></script>
{% endblock scripts_load %}