<div class="list-menu">
    <div class="fondo"></div>
    <ul class="list">
        <li class="item">
            <a class="item-link" href="{% url 'home' %}"><i class="fas fa-home-lg-alt"></i><span>Home</span></a>
        </li>
        <li class="item">
            <a class="item-link 
            {% if path %}
                
            {% endif %}
                " href="{% url 'preformList' %}"><i class="fas fa-file-invoice"></i><span>Preformas</span></a>
        </li>
        <li class="item">
            <a class="item-link" href=""><i class="fas fa-file-invoice-dollar"></i><span>Facturas</span></a>
        </li>
        <li class="item">
            <a class="item-link" href=""><i class="fas fa-store-alt"></i><span>Clientes</span></a>
        </li>
    </ul>
    <div class="btn-menu">
        <button class="collapse-button"><i class="far fa-arrow-alt-from-right"></i></button>
    </div>
</div>