<div class="list-menu">
    <div class="fondo"></div>
    <ul class="list">
        <li class="item">
            <a href="{% url 'home' %}"><i class="fas fa-home-lg-alt"></i><span>Home</span></a>
        </li>
        <li class="item">
            <a href="{% url 'preformList' %}"><i class="fas fa-paste"></i><span>Preformas</span></a>
        </li>
        <li class="item">
            <a href=""><i class="fad fa-house"></i><span>Menu</span></a>
        </li>
        <li class="item">
            <a href=""><i class="fad fa-house"></i><span>Menu</span></a>
        </li>
    </ul>
    <div class="btn-menu">
        <button class="collapse-button"><i class="far fa-arrow-alt-from-right"></i></button>
    </div>
</div>