* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Dosis', sans-serif;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
}


/* hamburger-menu */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5rem;
    height: 4rem;
}

.bar {
    background: #000;
    width: 100%;
    padding: .3rem;
    border-radius: .3rem;
}