    /* Variables */
    
     :root {
        --color1: #82c0cc;
        --color2: #489fb5;
        --color_text: #16697a;
        --color_base2: #acc4c9;
        --color_base: #ede7e3;
        --color_text_important: #ffa62b;
        --text_gray: #4c5c68;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        font-family: 'Dosis', sans-serif;
    }
    
    body {
        font-size: 1.6rem;
        min-height: 100vh;
        flex-wrap: wrap;
        width: 100%;
    }
    /* MENU SECTION */
    
    .navbar {
        padding: 1rem 3rem;
    }
    
    .navbar .info {
        display: inherit;
    }
    /* hamburger-menu */
    
    .hamburger-menu {
        display: none;
    }
    /* Menu Escritorio */
    
    .list-menu {
        top: 5rem;
        padding: .1rem 0;
        max-width: 25rem;
        height: calc(100% - 6rem);
        margin: 0;
        background: var(--color_text);
        border-bottom-right-radius: -25%;
    }
    
    .list-menu .list {
        position: relative;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .list-menu .list .item a {
        justify-content: flex-start;
        padding: 1.5rem 0;
        padding-left: 3rem;
        border-bottom: .2rem solid rgba(0, 0, 0, .9);
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        color: var(--color_base);
    }
    
    .list-menu .list .item a i {
        font-size: 3rem;
    }
    
    .list-menu .list .item a span {
        padding-left: 1rem;
        font-size: 1.6rem;
        transition: 1s ease;
    }
    
    .list-menu .list .item a:hover {
        background: rgba(0, 0, 0, .5);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-shadow: .5rem .5rem .5rem rgb(0, 0, 0);
    }
    
    .list-menu .btn-menu {
        display: flex;
        justify-content: center;
    }
    
    .list-menu .btn-menu .collapse-button {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        background: var(--color_text_important);
        color: var(--color_text);
    }
    
    .list-menu .btn-menu .collapse-button:hover {
        background: var(--color1);
        color: var(--text_gray);
        box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .9);
    }
    /* Fondo Movil */
    
    .list-menu .fondo {
        display: none;
    }
    /* styles collapse-menu */
    
    .collapse-menu .list-menu .btn-menu .collapse-button {
        transform: rotate(180deg);
    }
    /* .collapse-menu .list-menu .list .item a {
    justify-content: center;
} */
    
    .collapse-menu .list-menu .list .item a span {
        margin-left: -50rem;
    }
    
    .collapse-menu .list-menu {
        max-width: 9rem;
    }
    
    .content.collapse-menu {
        width: calc(100% - 9rem);
        margin-left: 9rem;
    }
    /* CONTENT SECTION */
    
    .content {
        width: calc(100% - 25rem);
        margin-left: 25rem;
        transition: 1s ease;
        /* background: wheat; */
    }
    
    .content .bg {
        width: calc(100% - 25rem);
        height: calc(100vh - 12.2rem);
        position: absolute;
        z-index: 0;
        background: var(--color_text);
    }
    
    .content .section {
        position: absolute;
        background: white;
        padding: 2rem;
        min-width: calc(100% - 25rem);
        min-height: calc(100vh - 12.2rem);
        border-bottom-left-radius: 3rem;
    }
    /* FOOTER SECTION */
    
    footer {
        background: var(--color_text);
        z-index: 3;
    }
    
    .footer .info span {
        color: var(--color_base);
    }